/*********** media queries (max-width:1629px)*************/

@media (max-width:1629px){
    .covers-container{
        left: 6px;
    }
    #cover-text{        
        margin-right: -10px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 18px;
    }
    #welcome {
        font-size: 370%;
    }
    .parent-thumb {
        display: grid;
        grid-template-columns: auto auto auto ;
    }       
}
/*********** media queries (max-width:1496px)*************/

@media (max-width:1496px){
    .covers-container{
        left: -40px;
    }
    #cover-text{        
        margin-right: -70px;
    }
    #abouts{
        font-size: 15px;
    }
    .parent-thumb {
        display: grid;
        grid-template-columns: auto auto ;
    }  
}

@media (max-width:1402px) {
    #abouts{
        font-size: 14.5px;
    }
}

@media (max-width:1390px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 23px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 17px;
    }
     .parent-thumb {
        display: grid;
        grid-template-columns: auto auto  ;
    }       
}

@media (max-width:1290px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 21px;
    }
    #times div {
        font-size: 13.5px;
    }
}

@media (max-width:1201px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 20px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 16px;
    }
    #times div {
        font-size: 12.5px;
    }
}

@media (max-width:1103px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 19px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 15.5px;
    }
}

@media (max-width:1048px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 16px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 15px;
    }
    #times div {
        font-size: 12px;
    }
    #left-about{
        margin-right: 60px;
    }
    
}

@media (max-width:971px) {
    #circle-container{
        width: 200px;
        height: 200px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 14px;
    }
}

@media (max-width:934px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 15px;
    }
    #times div {
        font-size: 11px;
    }
}
@media (max-width:909px) {
    #times div {
        font-size: 10px;
    }
    .parent-thumb {
        display: grid;
        grid-template-columns: auto  ;
    }  
}

@media (max-width:820px) {
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 13px;
    }
    .left-about-heading p,
    .right-about-heading p{
        font-size: 13px;
    }
    #times div {
        font-size: 9px;
    }
}
@media (max-width:756px) {
    #times div {
        font-size: 8px;
    }
}
@media (max-width:690px) {
    .left-about-heading p,
    .right-about-heading p{
        font-size: 12px;
    }
    #cover-text{       
        font-size: 16px; 
    }
    #cover-text2{       
        font-size: 19px;
        margin-left: 70px; 
    }
}
@media (max-width:620px) {
    .covers-container{
        left: 6px;
    }
    #cover-text{        
        margin-right: -20px;
        margin-top: 150px;
        font-size: 14px;
    }
    #left-about{
        margin-left: -50px;
    }
    #right-about{
        margin-right: -50px;
    }
    #times div {
        font-size: 8px;
    }
}
@media (max-width:375px) {
    .covers-container{
        left: -42px;
    }
    #times div{
        margin-right: 20px;
    }
}
@media (max-width:353px) {
   #welcome{
    font-size: 30px;
   }
    #times div{
        margin-right: 20px;
    }
}
/*********** media queries (max-width:600px) *************/

@media (max-width:600px) {
    .eye {
        width: 100px;
        height: 100px;  
        position: relative;
        top: 440px;
        right: 3%;
    }
    .eye2{
        display: none;
    }
    .eye > .eye-ball ,
    .eye2 > .eye-ball2 {
    width: 52px;
    height: 52px;
    }
    #cover-text2{
        font-size: 65%;    
        letter-spacing: 6px;
        width: 30px;
        height: 20px;
        position: relative;
        left: 145px;
        top: 20px;
    }
    #cover-text{        
        position: relative;
        bottom: 300px;
        right: 10%;
        letter-spacing: 7.5px;
        font-size: 90%;
    }

    #abouts{
        display: grid;
        grid-template-columns: auto auto ;
        font-size: 17px;
        width: 100%;
    }
    #club-ethos {
        width: 100%;
        height: 1150px;
    }
    
    #left-about,
    #right-about{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        position: relative;
        left: 70px;
        top: 250px;
    }
    .left-about-heading h2,
    .right-about-heading h2{
        font-size: 20px;
    }
    
    #circle-container{
        width: 200px;
        height: 200px;
    }

    #times{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    #times div {
        width: 100%;
        font-size: 11px;
    }
    #times div:nth-child(5){
        position: relative;
        left: 50%;
        transform: translate(-50% 50%);
    }
    #times h2{
        font-size: 11.5px;
    }
    .hexagon-wrapper{
        width: 56px;
        height: 50px;
    }
    .hexagon a {
        font-size: 25px;
    }
    .parent-thumb {
        display: grid;
        grid-template-columns: auto ;
    }
}

/*********** media queries Form *************/
@media (max-width:553px) {    
    .container { 
        position: relative;
        width: 310px;
      }
}@media (max-width:727px) {    
    .container { 
        position: relative;
        width: 310px;
      }
}
