@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header h1  {
    font-family: 'Six Caps', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
}

 a {
    text-decoration: none;
    color: darkgoldenrod;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

nav a:hover{
  text-shadow: 0 0 1px, 0 0 5px darkgoldenrod;
}