@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

input {
  caret-color: red;
}

.container { 
  position: relative;
  width: 750px;
  height: 760px;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background-image: linear-gradient(rgb(17, 15, 2), rgb(69, 55, 24), rgb(114, 87, 11));
  box-shadow: 14px 14px 20px #ccb58b, -14px -14px 20px rgb(206, 195, 160);
  font-family: 'Milonga', cursive;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("../images/eye-horus.jpg") no-repeat center center /cover;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #cbced1, -1px -1px 10px white;
}

.brand-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.8rem;
  color: rgb(228, 212, 172);
  letter-spacing: 1px;
  font-family: 'Metal Mania', cursive;
}

.inputs {
  margin-top: 30px;
}

label, input, button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: rgb(228, 212, 172);
  margin-top: 20px;
  background: rgb(228, 212, 172);
  background-image: linear-gradient(rgb(17, 15, 2), rgb(69, 55, 24), rgb(114, 87, 11));
  box-shadow: inset 6px 6px 6px  rgb(17, 13, 13), inset -6px -6px 6px #b4aa6d;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
  font-family: 'Milonga', cursive;
}

button:hover {
  box-shadow: none;
  box-shadow: 6px 6px 6px #2c2711, -6px -6px 6px rgb(255, 255, 255);
}
